.container1{
    margin-top: 20px;
    border: 2px solid gray;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.container2{
    margin-top: 20px;
    border: 2px solid rgb(174, 63, 63);
    padding: 20px;
   position: relative;
}
#selectid{
    position: absolute;
    right: 100px;
    width: 50px;
}
#buy{
    /* display: inline-flex;
    justify-content: flex-end; */
    position: absolute;
    right: 5px;
}
.container3{
    display: flex;
    justify-content: center;
}